body{
	height: 25px;
	height: 30px;
	height: 25px;
	height: 12px;
	height: 44px;
	height: 36px;
	height: 36px;
	height: 20px;
	height: 15px;
	height: auto;
	height: auto;
	height: 100%;
	height: 24px;
	height: 24px;
	height: 185px;
	height: 0;
	height: 44px;
	height: 44px;
	height: 25px;
	height: 100px;
	height: 100%;
	height: 100% !important;
	height: 34px;
	height: 15px;
	height: 32px;
	height: 4.5em;
	height: 100%;
	height: calc(100% - 131px);
	height: calc(100% - 91px);
	height: 32px;
	height: 4.5em;
	height: 100%;
	height: calc(100% - 131px);
	height: calc(100% - 91px);
	height: 32px;
	height: 25.88235px;
	height: 55px;
	height: 33.21569px;
	height: 100%;
	height: 38px;
	height: 25px;
	height: 1.2em;

	width: 95%;
	width: 30px;
	width: 100%;
	width: 100%;
	width: 130px;
	width: 80px;
	width: 100%;
	width: 12px;
	width: 100%;
	width: 47%;
	width: 47%;
	width: 75%;
	width: auto !important;
	width: 100% !important;
	width: 36px;
	width: 16px;
	width: 40px;
	width: 15px;
	width: 100%;
	width: 24px !important;
	width: 24px !important;
	width: 250px;
	width: 100%;
	width: 48%;
	width: 94%;
	width: 100%;
	width: 93%;
	width: 94%;
	width: 100%;
	width: 89%;
	width: 95% !important;
	width: 89%;
	width: 100%;
	width: 50% !important;
	width: 100%;
	width: 35px;
	width: 100%;
	width: calc(100% - 10px);
	width: 35px;
	width: calc(100% - 70px);
	width: 450px;
	width: 96%;
	width: 100%;
	width: 40%;
	width: 45%;
	width: 48%;
	width: 100%;
	width: calc(100% - 70px);
	width: 345px;
	width: 100%;
	width: 70px;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 45% !important;
	width: 22% !important;
	width: 45%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 450px;
	width: 96%;
	width: 100%;
	width: 40%;
	width: 45%;
	width: 48%;
	width: 100%;
	width: calc(100% - 70px);
	width: 345px;
	width: 100%;
	width: 70px;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 45% !important;
	width: 22% !important;
	width: 45%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 100%;
	width: 76% !important;
	width: 32px;
	width: 90%;
	width: 40%;
	width: 100%;
	width: 95%;
	width: 100%;
	width: 100%;
	width: 0;
	width: 100%;
	width: 40%;
	width: 50%;
	width: 90%;
	width: 10%;


	padding: 0 5px;
	padding: 0;
	padding: 8px;
	padding: 0 44px;
	padding: 0 5px 0 0;
	padding: 0 66px 0 44px !important;
	padding: 0 107px 0 44px !important;
	padding: 0 4px;
	padding: 17px;
	padding: 17px;
	padding: 0;
	padding: 5px;
	padding: 12px 6px;
	padding: 12px 0;
	padding: 0 6px;
	padding: 8px;
	padding: 5px;
	padding: 7px 0 0;
	padding: 6px;
	padding: 6px;
	padding: 0;
	padding: 6px 9px;
	padding: 8px;
	padding: 20px;
	padding: 3px 0;
	padding: 3px 0 10px;
	padding: 20px;
	padding: 20px;
	padding: 10px 0;
	padding: 10px;
	padding: 5px 20px;
	padding: 5px 2px;
	padding: 5px;
	padding: 20px;
	padding: 3px 0;
	padding: 3px 0 10px;
	padding: 20px;
	padding: 20px;
	padding: 10px 0;
	padding: 10px;
	padding: 5px 20px;
	padding: 5px 2px;
	padding: 5px;
	padding: 7.33333px 0 0 !important;
	padding: 0;
	padding: 10px;
	padding-right: 10px;
	padding-left: 0;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-right: 33px;
	padding-left: 3px;
	padding-right: 0;
	padding-bottom: 0;
	padding-bottom: 12px;
	padding-bottom: 0;
	padding-bottom: 12px;
	padding-bottom: 0;

	margin: 0;
	margin: 5px auto;
	margin: 6px auto;
	margin: 7px auto;
	margin: 5px auto;
	margin: 30px 10px auto;
	margin: 0 auto;
	margin: 10px 0 5px;
	margin: 10px auto;
	margin: auto 10px;
	margin: 5px auto auto 5px;
	margin: 6px;
	margin: 5px 0 0;
	margin: 0;
	margin: 0;
	margin: 0 5px;
	margin: 10px 0;
	margin: 0 0 15px;
	margin: 10px 0;
	margin: 0 0 15px;
	margin: 0;
	margin-right: 2px;
	margin-left: 17px;
	margin-top: 16px;
	margin-left: 15px;
	margin-top: 14px;
	margin-right: 7px;
	margin-top: 185px;
	margin-left: 5px;
	margin-left: -8px;
	margin-top: 5px;
	margin-left: 12px;
	margin-top: -7px;
	margin-left: 6px;
	margin-left: auto;
	margin-right: auto !important;
	margin-left: 5px;
	margin-right: -1px;
	margin-left: 0;
	margin-right: 0;
	margin-left: -1px;
	margin-top: 4px;
	margin-left: 0 !important;
	margin-right: 0;
	margin-right: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-top: 4px;
	margin-left: 0 !important;
	margin-right: 0;
	margin-right: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-right: 6px !important;
	margin-left: 0;


	border: 0;
	border: 0;
	border: none;
	border: 1px solid #333;
	border: 1px solid rgba(240, 240, 240, .9);
	border: 1px #ddd solid;
	border: none;
	border: none;
	border: 1px solid #c60000;
	border: 1px solid #d60000;
	border: 1px solid #c60000;
	border: 1px solid #d60000;
	border: 1px solid rgba(240, 240, 240, .9);

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 50%;
	border-radius: 3px 0 0 3px;
	border-radius: 0 3px 3px 0;
	border-radius: 5px;
	border-radius: 3px;
	border-radius: 0 0 4px 4px;
	border-bottom: none !important;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-top-color: #eee;
	border-top-color: #ebebeb;
	border-color: #f8f8f8;
	border-left-color: #ebebeb;
	border-right-color: #ebebeb;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-radius: 50%;
	border-radius: 50%;
	border-radius: 3px 0 0 3px;
	border-radius: 0;
	border-radius: 0 3px 3px 0;
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	border-radius: 3px;


	position: relative;
	position: absolute;
	position: relative;
	position: absolute;
	position: absolute;
	position: absolute;
	position: absolute;
	position: absolute;
	position: absolute;
	position: fixed;
	position: absolute;
	position: absolute;
	position: absolute;
	position: fixed;


	color: #4d4d4d;
	color: #000;
	color: white;
	color: #111;
	color: #fff;
	color: #c7c7c7;
	color: #aaa;
	color: #fff;
	color: #fff;
	color: #888;
	color: #fff;
	color: #fff;
	color: #888;
	color: #a9a9a9 !important;


	background: #1a1a1a;
	background: transparent !important;
	background: transparent !important;
	background: transparent !important;
	background: transparent;
	background: transparent;
	background: url("../../img/leftarrow.svg") center center no-repeat;
	background: url("../../img/rightarrow.svg") center center no-repeat;
	background: #fff;
	background: #efefef;
	background: #f8f8f8;
	background: #eee;
	background: #fff;
	background: #efefef;
	background: #f8f8f8;
	background: #eee;
	background: url("../../img/timezone.svg") center center no-repeat;
	background: transparent;
	background: #ddd;
	background: transparent !important;

	background-color: transparent !important;
	background-color: transparent !important;
	background-color: transparent !important;
	background-color: rgba(240, 240, 240, .9);
	background-color: grey !important;
	background-color: #f9f9f9;
	background-color: red;
	background-color: rgba(255, 255, 255, .95);
	background-color: rgba(240, 240, 240, .9);
	background-color: #e6e6e6;
	background-color: #0082c9;
	background-color: #fff;
	background-color: #d60000;
	background-color: #f00;
	background-color: #d60000;
	background-color: #f00;
	background-color: rgba(255, 255, 255, .85);
	background-color: rgba(240, 240, 240, .9);
	background-color: #6c8fc0;
	background-color: #0082c9;
	background-color: #000;

	background-image: url('../../img/random.svg');
	background-image: url('../../img/color_picker.svg');
	background-image: url('../../img/embed.svg') !important;

	background-position: center center;
	background-position: center center;
	background-position: 5%;
	background-position: center !important;
	background-position: 5%;
	background-position: 2px;

	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: 16px;

	opacity: .7;
	opacity: .3;
	opacity: .7 !important;
	opacity: 1;
	opacity: 1;
	opacity: .8;
	opacity: .1 !important;
	opacity: .5;
	opacity: 1 !important;
	opacity: 1 !important;
	opacity: 0;
	opacity: .6;


	display: block;
	display: inline-block;
	display: inline-block;
	display: inline-block;
	display: inline-block;
	display: inline-block;
	display: block;
	display: flex;
	display: block;
	display: block !important;
	display: block;
	display: block;
	display: none !important;
	display: none !important;
	display: inline-block !important;
	display: block;
	display: none !important;
	display: none;
	display: inline-block;
	display: none;
	display: flex;
	display: block;
	display: block;
	display: block;
	display: inline !important;
	display: block;
	display: block;
	display: inline;
	display: block;
	display: block;
	display: block;
	display: inline !important;
	display: block;
	display: block;
	display: inline;
	display: block;
	display: none;
	display: block;
	display: none;
	display: block;
	display: inline;

	clear: both;
	clear: both;

	float: inherit;
	float: inherit !important;
	float: left;
	float: right;
	float: left;
	float: right;
	float: left;
	float: left;
	float: right;
	float: left;
	float: left;
	float: left;
	float: right;
	float: left;
	float: left;


	overflow: hidden;
	overflow: hidden;
	overflow: hidden;
	overflow: hidden !important;
	overflow: hidden;
	overflow: hidden;
	overflow: hidden;
	overflow: visible !important;
	overflow: hidden;
	overflow: hidden;
	overflow: visible !important;
	overflow: hidden;
	overflow: hidden;
	overflow-x: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: scroll;
	overflow-y: scroll;
	overflow-y: scroll;
	overflow-y: scroll;
	overflow-y: scroll;


	text-overflow: ellipsis;
	text-align: center;
	text-align: center;
	text-align: center;
	text-overflow: ellipsis;
	text-align: center;
	text-align: center;
	text-overflow: inherit !important;
	text-align: right;
	text-overflow: ellipsis;
	text-overflow: inherit !important;
	text-align: right;
	text-overflow: ellipsis;
	text-align: center;

	top: 15px;
	top: 126px;
	top: 75px;
	top: 75px;
	top: 0;
	top: 12.5px;
	top: 18px;
	top: 12.5px;
	top: 0;

	left: 18px;
	left: calc(50% - 225px);
	left: calc(50% - 225px);
	left: 0;
	left: 0;

	right: 15px;
	right: 0;
	right: 0;

	bottom: 44px;
	bottom: 0;
	bottom: 0;


	font-size: 150%;
	font-weight: 400;
	font-weight: normal;
	font-size: 20px;
	font-weight: 300;
	font-size: 14px;
	font-size: 80%;
	font-weight: normal;
	font-size: 13px;
	font-size: 100%;
	font-weight: normal;
	font-weight: 300;
	font-weight: bold;
	font-weight: normal;
	font-weight: normal;
	font-size: 20px;
	font-size: 20px;
	font-size: .75em;
	font-size: 20px;
	font-size: 20px;
	font-size: .75em;
	font-weight: 300;
	font-size: 14px;
	font-size: 16px;
	font-size: 12px;

	line-height: 44px;
	line-height: 36px;
	line-height: 20px;
	line-height: initial;
	line-height: 20px;


	cursor: pointer;
	cursor: pointer;
	cursor: pointer;
	cursor: default;
	cursor: pointer;
	cursor: pointer;
	cursor: default !important;
	cursor: pointer !important;
	cursor: pointer;
	cursor: pointer;
	cursor: pointer;
	cursor: pointer;
	cursor: pointer;
	cursor: pointer;
	cursor: pointer;

	max-height: 200px;
	max-height: 0 !important;
	max-height: calc(100% - 150px - 45px);
	max-height: calc(100% - 150px - 45px);

	min-height: 0;
	min-height: 25px;
	min-height: 25px;

	max-width: 0 !important;
	max-width: 34px;
	max-width: 470px;
	max-width: 470px;

	z-index: 1000;
	z-index: 10;
	z-index: 50;
	z-index: 1000;
	z-index: 10;
	z-index: 20;


	white-space: nowrap;
	white-space: nowrap;
	white-space: inherit !important;
	white-space: nowrap;
	white-space: nowrap;

	box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;

	vertical-align: top;
	vertical-align: top;

	resize: vertical;
	resize: none;
	resize: vertical;
	resize: none;






	content: '+';	
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transition: 200ms margin ease-in-out;
	transition: 200ms ease-in-out all;
	-webkit-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	flex-grow: 1;
	pointer-events: none;
	pointer-events: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-transition: .05s ease-out .05s;
	-moz-transition: .05s ease-out .05s;
	-ms-transition: .05s ease-out .05s;
	transition: .05s ease-out .05s;
	-webkit-transition: .05s ease-out .05s;
	-moz-transition: .05s ease-out .05s;
	-ms-transition: .05s ease-out .05s;
	transition: .05s ease-out .05s;
}